<div class="bg-wrapper">
  <div class="fade-in" [ngClass]="{'blur-bg': !loadingImage}" (onLoad)="showImage($event)" [lazyLoad]="images[0].url" ></div>
</div>

<div class="spinner" [ngClass] = "{'spinner--hide': !loading}">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>


<h1 class="hero">Weather Cool App</h1>

<div class="content">


  <div class="weather">
    <article class="weather-container">

      <div class="weather-content" [ngClass]="{'show-content': !loading}">
        <div class="weather-date">Now</div>
        <div class="weather-place">{{currentWeather.name}}</div>
        <p class="weather-description">{{currentWeather.weather[0].description}}</p>
        <div class="temps">
          <ul class="max-min-temps">
            <li>min<span>{{currentWeather.main.temp_min}}º</span></li>
            <li>max<span>{{currentWeather.main.temp_max}}º</span></li>
          </ul>
          <h2 class="main-temp">{{currentWeather.main.temp | number: '1.0-0'}}º</h2>
        </div>
      </div>
    </article>

    <div class="show-loading" [ngClass]="{'hide-loading': !loading}">
      <app-loading></app-loading>
    </div>

  </div>


  <form class="search-box" (ngSubmit)="search()">
    <input  [(ngModel)]="city" name="city" placeholder="City" >
    <button type="submit" ><span class="fa fa-2x fa-search"></span></button>
  </form>

</div>
