<div class="bg-wrapper">
  <div class="transparent" [ngClass]="{'blur-bg': !loadingImage}" (onLoad)="showImage($event)" [lazyLoad]="images[0].url" ></div>
</div>

<div class="spinner" [ngClass] = "{'spinner--hide': !loading}">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>


<h1 class="hero">Weather Cool App</h1>

<div class="content">
  <form class="search-box" (ngSubmit)="search()">
    <input  [(ngModel)]="city" name="city" placeholder="City" >
    <button type="submit" ><span class="fa fa-2x fa-search"></span></button>
  </form>

</div>
