$blur-factor: 0.5rem;


.search-box {

  display: inline-block;
  background: rgba(black, 0.5);
  border: 1px solid rgba(white, 0.5) !important;
  position: relative;
  input {
    -webkit-box-shadow: 0 0 0px 0px transparent inset;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {

      color: white !important;
      transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;

    }
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    overflow: hidden;
    padding: 0.5rem 1rem;
    border:0px solid transparent !important;
    background: transparent !important;
    font-size: 2rem;
    line-height: 2rem;
    color: white;
    padding-right: 3.5rem;
  }

  button {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 3rem;
    right: 0;
    top: 0;
    padding: 0.5rem;
    background: transparent !important;
    border:0px solid transparent !important;
  }
}

@keyframes fade-in {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    opacity: 0;
  }
  100% {
    opacity: 0.7;
    -webkit-filter: blur($blur-factor);
    -moz-filter: blur($blur-factor);
    -o-filter: blur($blur-factor);
    -ms-filter: blur($blur-factor);
    filter: blur($blur-factor);
  }
}


.bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.transparent {
  opacity: 0;
}

.blur-bg {
  background-size: cover;
  animation: 1.5s ease-out 0s 1 fade-in;
  opacity: 0.7;
  position: absolute;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  top: -15px;
  left: -15px;

  -webkit-filter: blur($blur-factor);
  -moz-filter: blur($blur-factor);
  -o-filter: blur($blur-factor);
  -ms-filter: blur($blur-factor);
  filter: blur($blur-factor);
}
